<div class="print">
    <div  style="text-align: center;">
        <pre>Almondo</pre>
        <pre>Restaurant&Club</pre>
    </div>
    
    <div>
      <p>Зал: Клуб</p> 
      <p><b>Стол: {{orderNo}}</b></p>
      <p>Открыт: {{orderDate}}  Гостей: {{orderGuests}}</p>
      <p>Офиц: Фанта Лена</p>
      <p>Напечатал: Скиба Александр</p>
      <p>Печать: 20.08.2019 23:44:32</p>
    </div>
    

    <div>
      <p><b>ИТОГО: {{orderSum}}</b></p>
    </div>
</div>


<!--<p>{{orderDate}}</p>
<p>{{orderNo}}</p>
<p>{{orderSum}}</p>
<mat-list>
  <mat-list-item *ngFor="let item of selectedMenu">{{ item.name }} {{item.price * item.qty}}</mat-list-item>
</mat-list>
-->
<button (click)="print()">print</button>