.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
    height: 200px;
  }

  @media print {
    :not(.print) {
      display: none !important;
    }
  }