/* Add application styles & imports to this file! */
/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons");*/
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@page {
    margin-top: 0cm;
    margin-bottom: 0cm;
    margin-left: 0.5cm;
    margin-right: 2cm;
}